<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <a class="logo-footer" href="/">
                    <img src="../../build/img/logo-footer.png" alt="">
                </a>
                <ul class="footer-list">
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Условия использования</a></li>
                    <li><a href="#">Правила оказания услуг</a></li>
                    <li><a href="#">Прайс</a></li>
                    <li><a href="#">Партнёры</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-12">
                <p class="footer-title">Навигация</p>
                <ul class="footer-list">
                    <li><a href="#">Для водителей</a></li>
                    <li><a href="#">Для перевозчиков</a></li>
                    <li><a href="#">О Программе</a></li>
                    <li><a href="#">Бонусы</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-12">
                <p class="footer-title footer-title-cont">Контакты</p>
                <div class="footer-info-wrp">
                    <div class="footer-info-block footer-info-block-address" data-letter="A:">
                        <p>61082 г. Харьков, пр. Московский, 144 офис 202/02</p>
                    </div>
                    <div class="footer-info-block footer-info-block-tel" data-letter="T:">
                        <p>0 800 331 051</p>
                        <a href="tel:0800331051">0 800 331 051</a>
                        <p>Единая Служба Адвокатской Помощи</p>
                    </div>
                    <div class="footer-info-block footer-info-block-mail" data-letter="E:">
                        <a href="mailto:info@pravopolis.com">info@pravopolis.com</a>
                    </div>
                </div>
                <div class="socc-wrp">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">(с) 2019. ООО «ЮРИДИЧЕСКИЙ ПОЛИС»   Все права защищены</p>
            <p class="dev">Разработка: <a href="#"><img src="../../build/img/crab.png" alt=""></a></p>
        </div>
    </div>
</footer>
