<div class="about">
    <section class="about-main">
        <div class="about-main-bg"></div>
        <div class="container">
            <h1>Адвокатские услуги всегда, когда нужно</h1>
            <p>В дороге бывает всякое. Даже если водитель соблюдает Правила Дорожного Движения, <br> может случиться ДТП.</p>
        </div>
    </section>
    <section class="about-second-screen">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="padding-wrp-about2">
                        <div class="illustration-wrp illustration-wrp-about">
                            <div class="illustration-block illustration-block-about">
                                <img src="../../build/img/about2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6 offset-md-0 col-12">
                    <div class="about-vertical-block">
                        <p>Будут повреждены транспортные средства, могут пострадать люди и повредиться груз. Вся ответственность за причиненный ущерб ложится на виновника ДТП…</p>
                        <p><strong>И здесь не обойтись без адвоката. <br>Тогда к вам на помощь приходит PRAVOPOLIS</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-3-screen">
        <div class="container">
            <p><strong>PRAVOPOLIS ™ - это Программа адвокатской помощи</strong> <br> для водителей и перевозчиков при ДТП и нарушениях ПДД <br> <strong>с огромной экономией стоимости юридических услуг</strong></p>
        </div>
    </section>
    <section class="about-4-screen">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="about-4-img-wrp">
                        <img src="../../build/img/pages.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6 offset-md-0 col-12">
                    <div class="about-vertical-block">
                        <p>Услуги адвоката стоят не дешево, <br> но <strong>для клиентов PRAVOPOLIS предусмотрено безлимитное юридическое обслуживание</strong> на&nbsp;сумму в&nbsp;5-10 раз превосходящую <br> стоимость Пакета PRAVOPOLIS.</p>
                        <p>Необходимо просто <strong>выбрать Пакет</strong><br> и оплатить его стоимость.</p>
                        <p class="blue-btn open-b2c-pop-up"><span>Пакеты для водителей</span></p>
                        <a class="blue-btn" href="http://lawyer.romura.space/pages/output/packagesB2C.html#start"><span>Пакеты для водителей</span></a>
                        <p class="blue-btn open-b2b-pop-up"><span>Пакеты для перевозчиков</span></p>
                        <a class="blue-btn" href="http://lawyer.romura.space/pages/output/packages.html#pro-1"><span>Пакеты для перевозчиков</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-5-screen">
        <div class="about-5-screen-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <h2>После оплаты, Вы мгновенно становитесь клиентом PRAVOPOLIS и находитесь под&nbsp;адвокатской защитой.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12">
                    <p>В течение 5-7 дней получите пластиковую карту PRAVOPOLIS с персональным кодом и номером Единой Службы Адвокатской Помощи. </p>
                    <p>Карта действительна в течение 1 года и гарантирует услуги юристов/адвокатов на сумму в 5 – 10 раз превышающую стоимость Пакета PRAVOPOLIS.</p>
                </div>
                <div class="col-lg-4 offset-lg-2 col-md-4 offset-md-0 col-12">
                    <div class="img-card-wrp">
                        <img src="../../build/img/card-new.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-6-screen">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="about-6-img-wrp">
                        <img src="../../build/img/about61.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="about-6-text-wrp">
                        <p><strong>Вместе с картой PRAVOPOLIS, получите талон на лобовое стекло и наклейку на заднее, которые сообщают, что Вы под адвокатской защитой. </strong></p>
                        <p>Полицейские дважды подумают, прежде чем совершать неправомерные действия в отношении Вас.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="about-6-img-wrp ">
                        <img src="../../build/img/about62.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="about-6-img-wrp">
                        <img src="../../build/img/about63.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-next"><span>Дальше</span></div>
    </section>
</div>
