<div class="pop-up-wrapper">
    <div class="pop-up-table pop-up-table-b2b">
        <p class="table-title">Пакеты PRAVOPOLIS <br><span>для водителей категории C и D Предприятия</span></p>
        <table role="table">
            <colgroup>
                <col><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
                <col style="background-color:#e6edff"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
                <col style="background-color:#cdd7f0"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
            </colgroup>
            <thead role="rowgroup">
              <tr role="row">
                <th role="columnheader">Юридические услуги</th>
                <th class="pro pro-1" role="columnheader">PRAVOPOLIS Pro 1</th>
                <th class="pro pro-2" role="columnheader">PRAVOPOLIS Pro 2</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              <tr role="row">
                <td role="cell">Консультации по телефону (в т.ч. экстренная) юриста по автоправу при нарушении ПДД</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Телефонный звонок/разговор адвоката по автоправу от имени клиента</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Правовая помощь адвоката по административной ответственности
водителя Предприятия при нарушении ПДД</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Обжалование незаконного задержания ТС Предприятия</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Выезд аварийного комиссара для оформления ДТП по Европротоколу</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Экстренный выезд адвоката на место ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Участие адвоката в досудебном расследовании ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Защита интересов водителя в суде по административной ответственности при ДТП на служебном ТС</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Защита водителя в суде по уголовной ответственности при ДТП на служебном ТС</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Защита руководителей Предприятия в суде по уголовной ответственности при ДТП на служебном ТС</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Защита интересов Предприятия в суде по гражданским искам пострадавших при ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Представительство интересов Предприятия в отношениях с другими участниками ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Урегулирование вопросов с пострадавшими при ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Досудебное и судебное урегулирование спора со стаховыми компаниями при ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Независимая автотехническая экспертиза при ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Независимая экспертная оценка транспортного средства после ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Регрессные требования Предприятия к виновному работнику при ДТП</td>
                <td role="cell"><span>со скидкой 20%</span></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Защита интересов Предприятия по возмещению стоимости утраченного груза в результате ДТП</td>
                <td role="cell"><span>со скидкой 20%</span></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
              </tr>
              <tr class="border-top-table" role="row">
                <td role="cell"><strong>Стоимость Пакета PRAVOPOLIS</strong></td>
                <td role="cell"><strong>9 125 грн</strong></td>
                <td role="cell"><strong>10 950 грн</strong></td>
              </tr>
              <tr class="border-top-table" role="row">
                <td role="cell">Срок действия Пакета PRAVOPOLIS</td>
                <td role="cell">12 мес</td>
                <td role="cell">12 мес</td>
              </tr>
              <tr class="border-top-table" role="row">
                <td role="cell"><strong>Юридические услуги в рамках Пакета на сумму</strong></td>
                <td role="cell"><strong>45 625 грн</strong><br><a href="#">по прайсу</a></td>
                <td role="cell"><strong>54 750 грн</strong><br><a href="#">по прайсу</a></td>
              </tr>
              <tr class="border-top-table" role="row">
                <td role="cell"><strong>Скидка на юридические услуги, </strong>при превышении
пакетной стоимости услуг</td>
                <td role="cell">20%</td>
                <td role="cell">25%</td>
              </tr>
            </tbody>
          </table>
        <div class="pop-up-close-btn"></div>
    </div>
    <div class="pop-up-table pop-up-table-b2c">
        <p class="table-title">Пакеты PRAVOPOLIS <br><span>для водителей категории А и В</span></p>
        <table role="table">
            <colgroup>
                <col><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
                <col style="background-color:#dcf0ff"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
                <col style="background-color:#bcdcf5"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
                <col style="background-color:#91bee4"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
                <col style="background-color:#0063b1"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
            </colgroup>
            <thead role="rowgroup">
              <tr role="row">
                <th role="columnheader">Юридические услуги</th>
                <th class="pro" role="columnheader">PRAVOPOLIS Start</th>
                <th class="pro" role="columnheader">PRAVOPOLIS Standart</th>
                <th class="pro" role="columnheader">PRAVOPOLIS Status</th>
                <th class="pro" role="columnheader">PRAVOPOLIS Taxi</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              <tr role="row">
                <td role="cell">Консультации по телефону (в т.ч. экстренная) юриста по автоправу при нарушении ПДД</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Телефонный звонок/разговор адвоката по автоправу от имени клиента</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Правовая помощь адвоката по административной ответственности при нарушении ПДД</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Выезд аварийного комиссара для оформления ДТП по Европротоколу</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Представительство интересов клиента в отношениях с другими участниками ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Экстренный выезд адвоката на место ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Участие адвоката в досудебном расследовании ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Защита клиента в суде при административной ответственности участника ДТП</td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Защита клиента в суде по гражданскому иску при ДТП</td>
                <td role="cell"><span>со скидкой 15%</span></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Защита клиента в суде при уголовной ответственности участника ДТП</td>
                <td role="cell"><span>со скидкой 15%</span></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Урегулирование вопросов с пострадавшими при ДТП</td>
                <td role="cell"><span>со скидкой 15%</span></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Досудебное и судебное урегулирование спора со стаховой компанией при ДТП</td>
                <td role="cell"><span>со скидкой 15%</span></td>
                <td role="cell"><span>со скидкой 15%</span></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Независимая автотехническая экспертиза при ДТП</td>
                <td role="cell"><span>со скидкой 15%</span></td>
                <td role="cell"><span>со скидкой 15%</span></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Независимая экспертная оценка транспортного средства после ДТП</td>
                <td role="cell"><span>со скидкой 15%</span></td>
                <td role="cell"><span>со скидкой 15%</span></td>
                <td role="cell"><img src="../../build/img/check.svg" alt=""></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr role="row">
                <td role="cell">Защита водителя по искам пассажиров при ДТП</td>
                <td role="cell"><span>нет</span></td>
                <td role="cell"><span>нет</span></td>
                <td role="cell"><span>нет</span></td>
                <td role="cell"><img src="../../build/img/check-white.png" alt=""></td>
              </tr>
              <tr class="border-top-table" role="row">
                <td role="cell"><strong>Стоимость Пакета PRAVOPOLIS</strong></td>
                <td role="cell"><strong>1 100 грн</strong></td>
                <td role="cell"><strong>1 850 грн</strong></td>
                <td role="cell"><strong>2 550 грн</strong></td>
                <td role="cell"><strong>3 650 грн</strong></td>
              </tr>
              <tr class="border-top-table" role="row">
                <td role="cell">Срок действия Пакета PRAVOPOLIS</td>
                <td role="cell">12 мес</td>
                <td role="cell">12 мес</td>
                <td role="cell">12 мес</td>
                <td role="cell">12 мес</td>
              </tr>
              <tr class="border-top-table" role="row">
                <td role="cell"><strong>Юридические услуги в рамках Пакета на сумму</strong></td>
                <td role="cell"><strong>5 500 грн</strong><br><a href="#">по прайсу</a></td>
                <td role="cell"><strong>14 880 грн</strong><br><a href="#">по прайсу</a></td>
                <td role="cell"><strong>25 500 грн</strong><br><a href="#">по прайсу</a></td>
                <td role="cell"><strong>36 500 грн</strong><br><a href="#">по прайсу</a></td>
              </tr>
              <tr class="border-top-table" role="row">
                <td role="cell"><strong>Скидка на юридические услуги, </strong>при превышении
пакетной стоимости услуг</td>
                <td role="cell">15%</td>
                <td role="cell">20%</td>
                <td role="cell">25%</td>
                <td role="cell">25%</td>
              </tr>
            </tbody>
          </table>
        <div class="pop-up-close-btn"></div>
    </div>
</div>
