<header>
    <div class="header-desctop">
        <div class="header-desctop-top">
            <div class="container">
                <div class="header-top-links-wrp">
                    <a href="#" class="header-desctop-top-link">Для водителей</a>
                    <a href="#" class="header-desctop-top-link">Для перевозчиков</a>
                    <a href="#" class="header-desctop-top-link header-desctop-top-link-enter">Вход</a>
                </div>
                <div class="call-wrp">
                    <div class="header-top-phone-block">
                        <p class="header-top-phone">0 800 331 051</p>
                        <p class="header-top-phone-text">Звонки бесплатно</p>
                    </div>
                    <p class="header-top-text">Единая Служба<br>Адвокатской Помощи</p>
                </div>
            </div>
        </div>
        <div class="header-desctop-bottom">
            <div class="container">
                <a href="/" class="header-logo">
                    <img src="../../build/img/logo-header.png" alt="">
                </a>
                <ul class="header-list">
                    <li><a href="#">О Программе</a></li>
                    <li><a href="#">Как защищаем</a></li>
                    <li><a href="#">Стоимость</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">F.A.Q.</a></li>
                    <li><a href="#">Бонусы</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile-top">
            <a href="/" class="header-logo-mob">
                <img src="../../build/img/logo-header.png" alt="">
            </a>
            <div class="side">
                <div class="phone-mob-btn">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="burger-btn">
                    <div class="burger">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mobile-bottom">
            <p class="hmb-text1">Единая Служба <br>Адвокатской <br>Помощи</p>
            <div class="header-mob-phone-number">
                <a href="tel:0800331051">0 800 331 051</a>
                <p>Звонки бесплатно</p>
            </div>
        </div>
    </div>
</header>
